{% extends "layout.html" %}
{% block title %}¿Quiénes somos?{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
<h1 class="text-center">Sobre nosotros</h1>

<div class="row g-4">

    <div class="col-lg-4 col-md-6">
        <div class="card card-fixed shadow-sm h-100">

            <img src="{{ url_for('static', filename='images/card1.jpg') }}" class="card-img-top card-img-fixed"
                alt="...">

            <div class="card-body">
                <h5 class="card-title">Nosotros</h5>
                <p class="card-text">
                    Somos una agrupación de empresas y profesionales, enfocados al desarrollo e implementación de
                    soluciones tecnológicas avanzadas, en el occidente del país, con sede en la ciudad de Guadalajara,
                    Jalisco, orientados a fortalecer a sus socios integrantes, mediante la representatividad unificada,
                    la conformación de redes de negocio y la actualización, vinculándonos tanto con la academia como con
                    el gobierno, ofreciendo con todo lo anterior un canal adecuado y
                </p>
            </div>

        </div>
    </div>


    <div class="col-lg-4 col-md-6">
        <div class="card card-fixed shadow-sm h-100">

            <img src="{{ url_for('static', filename='images/card2.jpg') }}" class="card-img-top card-img-fixed"
                alt="...">

            <div class="card-body">
                <h5 class="card-title">Misión</h5>
                <p class="card-text">
                    Representar a los integradores de TIC´s de Jalisco, generando relaciones y oportunidades de
                    crecimiento. Fomentar el compromiso con el desarrollo de la sociedad a taves de la implentacion de
                    la tecnologia impulsando el crecimiento de las capacidades y su aprovechamiento en beneficio de la
                    sociedad y sus integrantes.
                </p>
            </div>

        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="card card-fixed shadow-sm h-100">

            <img src="{{ url_for('static', filename='images/card3.jpg') }}" class="card-img-top card-img-fixed"
                alt="...">

            <div class="card-body">
                <h5 class="card-title">Visión</h5>
                <p class="card-text">
                    Ser referente en la integracion de Soluciones Tecnologicas, reconocido por la sociedad, industria y
                    gobierno.
                </p>
            </div>

        </div>
    </div>
<hr>
</div>
<form action="" class="card shadow-sm p-4">
    <h1 class="h4 mb-3 text-center">Contáctanos</h1>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="alguien@ejemplo.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
</form>
{% endblock %}