{% extends "layout.html" %}
{% block title %}Perfil{% endblock %}

{% block content %}
<div class="card text-center">
    <div class="card-header">
        <h1>Mi perfil</h1>
    </div>
    <div class="card-body">
        <img src="{{ url_for('static', filename='images/profile_default.png') }}" width="100">
        <h3 class="card-title">{{ user.nombre }} {{ user.apellido_paterno }} {{ user.apellido_materno }}</h3>
        <p class="card-text">
        <h5>Correo: {{ user.correo }}</h5>
        <h5>Teléfono: {{ user.telefono }}</h5>
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{% endblock %}